PORT=porta do backend (ex: 3000)
DB_HOST=Hóspede da Base de dados (ex: 127.0.0.1, localhost)
DB_PORT=Porta da Base de dados (ex: 5432)
DB_USER=Utilizador do servidor postgres (ex: postgres)
DB_PASSWORD=Password do servidor postgres (ex: postgres)
DB_NAME=Nome da base de dados (ex: postgres)
JWT_SECRET=Chave secreta para o JWT (ex: k{}p%gvc2309s8a]j(e^V)DIhanNRQ:I5F7iXEc!2w;)
NODE_ENV=coloque "production" para os JWTs terem secure=true, coloque outra coisa caso queira que os JWTs tenham secure=false (ex: development)